<div class="contenedor-detalle">
    <div class="imagen">
      <img src="{{productDetail?.image}}" alt="">
    </div>
    <div class="descripcion">
      <h2>{{productDetail?.title}}</h2>
      <p><s>Precio de venta recomendado: $1785</s></p>
      <p><strong>¡Ahora a la venta por solo ${{productDetail?.price}}</strong></p>
      <p><span>Calificación de nuestros consumidores: </span> <strong>{{productDetail?.rating?.rate}}/5</strong></p>
      <p>{{productDetail?.description}}</p>
      <button>AÑADIR AL CARRITO</button>
    </div>
   </div>
   